@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.introduction-1, .introduction-2 {
  font-weight: bold;
  font-size: 40px;
  margin-top: -140px;
  animation-name: slideInLeft;
  animation-duration: 0.6s;
  animation-delay: 0.5s; 
  animation-fill-mode: forwards; 
  opacity: 0; 
}

.read-more {
  background-color: black;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; 
  opacity: 0; 
  z-index: 99;
}

.read-more-text {
  color: white;
}

.read-more:hover {
  background-color: gray;
  
}

p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: white; 

}

body {
  background-color: black;
  padding-bottom: 14px;
  margin: 0;
}

.icons-container {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.icon-item {
  margin-top: 10px;
  margin-left: 10px;
}


.shadow-outside {
    margin-top: 2px;
    box-shadow: 0 -50px 20px rgba(0, 0, 0, 0.5);
}

.header {
    background-color: rgb(20, 20, 20)

}

.header-name {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: white; 
    margin-left: 90px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;    
         
}

.header-home {
    margin-left: -180px;
}

.header-about { 
    margin-left: -70px;
    margin-top: 3px;

}

.introduction-1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: -140px;
}

.introduction-2 {
    font-size: 20px;
}

.modal-title-custom {
  margin-left: 475px;
}


.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

.nav-link:hover, .nav-link:focus {
  color: var(--bs-nav-link-hover-color);
}
.nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.nav-link.disabled, .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  --bs-nav-tabs-border-width: var(--bs-border-width);
  --bs-nav-tabs-border-color: var(--bs-border-color);
  --bs-nav-tabs-border-radius: var(--bs-border-radius);
  --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
  --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
  --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
  --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var (--bs-nav-tabs-border-radius);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: var(--bs-nav-tabs-link-hover-border-color);
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-tabs .dropdown-menu {
  margin-top: calc(-1 * var(--bs-nav-tabs-border-width));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
}
.nav-pills .nav-link {
  border-radius: var(--bs-nav-pills-border-radius);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.nav-underline {
  --bs-nav-underline-gap: 1rem;
  --bs-nav-underline-border-width: 0.125rem;
  --bs-nav-underline-link-active-color: var(--bs-emphasis-color);
  --myappnav-active-color: white; 
  --myappnav-active-underline-color: white; 
  gap: var(--bs-nav-underline-gap);
}
.nav-underline .nav-link {
  padding-right: 0;
  padding-left: 0;
  border-bottom: var(--bs-nav-underline-border-width) solid transparent;
}
.nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
  border-bottom-color: currentcolor;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  font-weight: 700;
  color: var(--myappnav-active-color); 
  border-bottom-color: var(--myappnav-active-underline-color); 
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

:root {
  --myappnav-link-color: white;
  --myappnav-link-hover-color: black;
  --myappnav-active-color: white;
}

.nav-link {
  color: var(--myappnav-link-color);
}

.nav-link:hover {
  color: var(--myappnav-link-hover-color);
  text-decoration-color: var(--myappnav-link-hover-underline-color);
}



  @media (prefers-reduced-motion: reduce) {
    .nav-link {
      transition: none;
    }
  }

.progress {
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  width: 0;
  transition: width 2s ease-in-out;
}

.tab-pane.show .progress-bar {
  width: 100%; 
}

.text-light-emphasis {
  --bs-text-opacity: 1;
  color: rgba(var(255,255,255), var(--bs-text-opacity)) !important;
}

.modal-content {
  background-color: #000; 
  color: #fff !important;
}


/* if desktop */
.mobile_device_380px {
  display: none;
}
.mobile_device_480px {
  display: none;
}

/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
  .mobile_device_380px {
    display: block;
  }       
  .desktop {
    display: none;
  }
} 








/* Styles for mobile devices with a max width of 480px */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .mobile_device_480px {
    width: 100%; 
    overflow-x: hidden;

    .modal-content {
      margin-left: 200px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .header-name {
      font-size: 1.5em;
      margin-left: 50px;
      width: 100%;
    }

    .nav {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin-top: 18px;
      margin-left: 250px;
      flex-direction: row;
      gap: 30px;
      width: 100%;
    }

    .nav-item {
      margin-left: 15px;
    }

    .text-white {
      margin-left: 42px;
      color: #fff;
    }

    .profile-img {
      object-fit: cover;
      width: 80%;
      max-width: 400px;
      position: relative;
      z-index: 1;
      animation: fadeIn 2s forwards;
      transition: opacity 2s ease-out, transform 1s ease-out;
      margin-left: 30px;
    }

    .nav-item {
      margin: 5px 0;
    }

    .resume-button button {
      width: 100%;
    }

    .d-flex {
      flex-direction: column;
      align-items: center;
    }

    .introduction-1 {
      text-align: center;
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      padding: 5px;
      margin-top: 10px;
      z-index: 10;
      transform: translateX(-100px);
      transition: opacity 1s ease-out, transform 2s ease-out;
      animation: fadeIn 2s forwards;
      margin-left: -65px;
      width: 500px;
    }

    .introduction-2 {
      opacity: 1;
      animation: fadeIn 2s forwards;
      width: 80%; 
    }

    .introduction-3 {
      font-size: 31px;
      margin-left: 5px;
    }

    .intro-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }

    .info {
      margin-left: 50px;
      margin-top: -150px;
    }

    .text-white {
      font-size: 16px; 
      font-weight: bold; 
      color: white; 
      letter-spacing: 0.05em; 
      word-spacing: 0.1em;
      width: 320px;
    }
    
    .read-more-button {
      margin-top: 50px;
      margin-left: -60px;
      width: 500px;
    }
    
    .icons-container {
      display: flex;
      flex-direction: row;
      margin-left: 60px;
    }

    .resume-button {
      margin-top: 5px;
    }

    .modal-dialog {
      width: 95%; 
      margin: 1.75rem auto; 
    }
    .modal-content {
      color: #fff; 
      margin-left: 0px;
    }
    .modal-header, .modal-body, .modal-footer {
      padding: 50px;
    }

    .modal-nav {
      margin-right: 550px;
      margin-top: -50px;
    }

    .tab-content {
      margin-top: 50px;
      margin-right: 30px;
    }

    .modal-title {
      margin-left: 60px;
    }

    .modal-info {
      margin-right: -20px;
    }

    .modal-close-btn {
      background-color: black;
      margin-right: 50px;
    }

    .header-home {
      margin-left: -185px;
    }

    .header-name {
      margin-left: 40px;
    }
   
    display: block;
  }
  

  .desktop {
    display: none;
  }
}
